<!-- Page Content -->
   <div class="container">

       <!-- Introduction Row -->
       <div class="row">
           <div class="col-lg-12">
               <h1 class="page-header">About Us
                   <small>It's Nice to Meet You!</small>
               </h1>
               <p>We are the Angular Open Source Crisis Team ...</p>
           </div>
       </div>

       <!-- Team Members Row -->
       <div class="row">
           <div class="col-lg-12">
               <h2 class="page-header">Our Thoughts</h2>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-circle img-responsive img-center" src="https://unsplash.it/200x200/?random" alt="">
               <h3>Open Source
                   <small>visions</small>
               </h3>
               <p>talk is cheap, show me the code.</p>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-circle img-responsive img-center" src="https://unsplash.it/200x210/?random" alt="">
               <h3>Open Source
                   <small>visions</small>
               </h3>
               <p>microsoft isn't evil, they just make really crappy operating systems.</p>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-circle img-responsive img-center" src="https://unsplash.it/200x220/?random" alt="">
               <h3>Open Source
                   <small>visions</small>
               </h3>
               <p>fundamentally, open source does tend to be more stable software, it is the right way to do things.</p>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-circle img-responsive img-center" src="https://unsplash.it/200x230/?random" alt="">
               <h3>Open Source
                   <small>visions</small>
               </h3>
               <p>software is like sex, it's better when it's free.</p>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-circle img-responsive img-center" src="https://unsplash.it/200x240/?random" alt="">
               <h3>Open Source
                   <small>visions</small>
               </h3>
               <p>if microsoft ever does applications for linux, it means we have won.</p>
           </div>
           <div class="col-lg-4 col-sm-6 text-center">
               <img class="img-circle img-responsive img-center" src="https://unsplash.it/200x250/?random" alt="">
               <h3>Open Source
                   <small>visions</small>
               </h3>
               <p>the weed will grow over the huts in redmond. just for fun. 2017.</p>
           </div>
       </div>
